@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

html, body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}

.start-play-button {
    font-family: 'Pangolin', cursive;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
    padding: 0rem;
    color: #8386b5;
    text-shadow: 2px 2px #4a4c69;
    font-size: 2.5rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
}

.start-play-button:hover {
    color: #ffc0c1;
    text-shadow: 2px 2px #b58a8a;
}